.btn{
	display:inline-block;
	width:2em;
	height:1em;
}

.rowbar{
	background-color:#4AA;
	display:block;
	width:100%;
	height:1.4em;
	padding-left:1em;
}

.dataCol {
	background-color:#4AA;
	display:inline-block;
	width:150px;
	vertical-align:top;
	height:360px;
	overflow-y:scroll;
	padding : 5px;
}


.hilite {
	color:red;
}

.players{
  display:inline-block;
  background-color:#000;
  height: 234px;
  width: 384px;
}

#saveTicks{
	#color:#F00 !important;
}